name: auto-pr-clickup
run-name: ${{ github.event.repository.name }} pr:${{ github.event.pull_request.number }} by @${{ github.actor }}

on:
  pull_request:
    # Sequence of patterns matched against refs/heads
    branches-ignore:    
      - 'mona/octocat'
      - 'releases/**-alpha'

jobs:
  auto_sync_pr_clickup:
    runs-on: ubuntu-latest

    steps:
      - name: debug_info
        run: |
          BRANCH_NAME="${{ github.head_ref }}"
          PR_ID="${{ github.event.pull_request.number }}"
          PR_URL="${{ github.event.pull_request.html_url }}"
          PR_API_URL="${{ github.event.pull_request.url }}"
          echo "PR_URL=$PR_URL"
          echo "BRANCH_NAME=$BRANCH_NAME"
          echo "PR_ID=$PR_ID"
          echo "PR_API_URL=$PR_API_URL"
          PR_DESCRIPTION="${{ github.event.pull_request.body }}"
          echo "PR_DESCRIPTION=$PR_DESCRIPTION"

      - name: print_github_event_info
        env:
          EVENT_CONTEXT: ${{ toJSON(github.event) }}
        run: |
          echo "$EVENT_CONTEXT"

      - name: print_github_info
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - name: Debug - List Envs
        run: env

      - name: print_event_pr_info
        env:
          EVENT_CONTEXT: ${{ toJSON(github.event.pull_request) }}
        run: |
          echo "$EVENT_CONTEXT"
