name: 'Test PR All Type'

on:
  issues:
    types: 
      - closed

jobs:
    apply-terraform-plan:
      name: 'apply-terraform-plan'
      runs-on: 'ubuntu-latest'
      
      steps:
      # Checkout the repository to the GitHub Actions runner
      - name: Checkout
        uses: actions/checkout@v4    

      - name: Echo
        run: |
          echo "test"
