name: 'Test PR All Type'

on:
  issues:
    types:
      - closed  
  # pull_request:
    # branches: [ "main" ]

jobs:
    apply-terraform-plan:
      name: 'apply-terraform-plan'
      runs-on: 'ubuntu-latest'
      
      steps:
      # Checkout the repository to the GitHub Actions runner
      - name: Checkout
        uses: actions/checkout@v4    

      - name: Debug - event number
        run: |
          echo "${{github.event.number}}"

      - name: Debug - Github Event Context Info
        env:
          GITHUB_EVENT: ${{ toJson(github.event) }}
        run: |
          echo "$GITHUB_EVENT"

      - name: Debug - Github Context Info
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: |
          echo "${{github.event.pull_request.merged}}"
          echo "$GITHUB_CONTEXT"

      - name: Debug - Envs
        run: env
# if: github.event.review.state == 'approved'
