#test 1
name: Test_Release

# on:
#   push: 
on:
  push:

jobs:
  print_debug_info:
    runs-on: 'ubuntu-latest'
    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          release_name: TF-${{ github.ref }}
          body: |
            Changes in this Release
          draft: false
          prerelease: false      

      - name: Debug - Placeholder
        run: |
          echo "${{github.event.pull_request.merged}}"

      - name: Debug - Github Event Context Info
        env:
          GITHUB_EVENT: ${{ toJson(github.event) }}
        run: |
          echo "$GITHUB_EVENT"

      - name: Debug - Github Context Info
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: |
          echo "${{github.event.pull_request.merged}}"
          echo "$GITHUB_CONTEXT"

      - name: Debug - Envs
        run: env